@media (max-width: 1024px) {
  /* SECTION 1 */
  .section1 {
    min-height: 500px;
  }

  /* HEADER + NAVIGATION */
  

  header {
    justify-content: space-between;
    
  }

  
 
  .burgmenu {
    display: block;
    
  }

  .header_account a {
    display: none;
  }


  .menu {
    width: 30%;
    background-color: black;
    flex-direction: column;
    align-items: center;
    gap: 0;
    justify-content: space-around;
    position: fixed;
    top: 90px;
    left: -100%;
    height: 180px;
  }

  ul li a {
    color: white;
  }

  .show {
    left: 0;
  }

  /* SECTION 2 */
  .section2 {
    padding:  70px 3%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section2_card1, 
  .section2_card2 {
    width: 45%;
    min-height: 645px;
  }


  .div_card3_info {
    width: 50%;
    margin-inline: auto;
  }
  
  .new_arrivals {
    margin-top: 30px;
  }

  /* SECTION 3 */
  .section3 {
    padding: 60px 3%;
  }

  .box_animation {
    min-height: 600px;
  }

  /* SECTION 4 */
  .section4 {
    padding: 30px 3%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section4_card1, 
  .section4_card2 {
    width: 45%;
  }

  .section4_card3 {
    width: 100%;
    row-gap: 1.8em;
  }

  .section4_cards_box {
    min-height: 300px;
  }

  footer {
    padding: 2.5em 3%;
  }

  .social_networks {
    width: 20%;
  }


  /* SHOP PAGE */
  .section1_shop {
    padding: 120px 3% 60px 3%;
  }

.coffee_card_shop {
  width: 47%;
  min-height: 645px;

}

/* SUBSCRIPTION PAGE */

 .section1_subscription {
  min-height: 500px;
 }

 .section1_text_box {
   width: 60%;
   padding: 3em;
   background-color: white;
   margin-inline: auto;

 }

 .section1_subs_heading {
  text-align: center;
 }

 .section2_subs {
  padding: 80px 15% 80px 15%;
   flex-direction: column;
   row-gap: 3.5em;
 }

 .blend_set_box {
  width: 70%;
  margin-inline: auto;

 }

 .blendset_box_buttons {
  justify-content: left;
  gap: 1em;
  }

  .coffee_card_shop10 {
    width: 47%;
  }


  /* COLDBREW PAGE  */
  .section2_coldbrew {
    padding: 7em 5%;
  }

  .section2_coldbrew_heading {
    font-size: 2rem;
  }

  .section3_coldbrew {
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
  }

  .coldbrew_cover1 {
    width: 70%;
    min-height: 550px;
  }

  .section4_coldbrew {
    padding: 6em 0;
  }

  .coldbrew_article {
    width: 55%;
  }

 .article_heading {
  font-size: 1.5rem;
  text-align: center;
 }

/* WHOLESALE PAGE */
.section1_wholesale {
  margin: 10em auto;
}



.wholesale_paragraph {
  font-size: 1rem;
}

.wholesale_heading {
  font-size: 2rem;
}

.iframe {
  width: 55%;
  min-height: 400px;
}

/* SECTION 2 */
.section2_wholesale {
  margin: 6em auto;
}
 
.section2_wholesale_heading{
  font-size: 2rem;
  margin-bottom: 1em;
}

.wholesale_photo_cover {
  width: 60%;
  height: 440px;
}

.section2_wholesale_coffee {
  font-size: 1.5rem;
  margin-top: 3em;
}



.wholesale_coffee_paragraph {
  font-size: 1rem;
}

.section3_second {
  gap: 8em;
}

/* SECTION 5 */
.section5_wholesale {
  margin: 7em auto;
}

/* ARTICLE */
.article_wholesale {
  margin: 0 auto 6em auto;
  width: 90%;
  text-align: center;
}
.article_quote {
  font-size: 1.5rem;
  font-weight: 600;
}

/* SECTION 6 */
.section6_wholesale {
  width: 90%;
  margin: 5em auto;
}

.sign_me_up {
  font-size: 2rem;
  margin-bottom: 1.5em;
}

.section6_paragraph {
  font-size: 1rem;
}

.your_info_text {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1.5em 0;

}

.input_lines {
  margin-bottom: 4em;
}

.label {
  font-size: 1rem;
}

}