@media (max-width: 1024px) {

  /* HEADER + NAVIGATION */
  header {
    justify-content: space-around;

  }

 
  .burgmenu {
    display: block;
  }

  .header_account a {
    display: none;
  }


  .menu {
    width: 30%;
    background-color: black;
    flex-direction: column;
    align-items: center;
    gap: 0;
    justify-content: space-around;
    position: fixed;
    top: 90px;
    left: -100%;
    height: 180px;
  }

  ul li a {
    color: white;
  }

  .show {
    left: 0;
  }

  /* SECTION 2 */
  .section2 {
    padding:  70px 3%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section2_card1, 
  .section2_card2 {
    width: 45%;
    min-height: 645px;
  }


  .div_card3_info {
    width: 50%;
    margin-inline: auto;
  }
  
  .new_arrivals {
    margin-top: 30px;
  }

  /* SECTION 3 */
  .section3 {
    padding: 60px 3%;
  }

  .box_animation {
    min-height: 600px;
  }

  /* SECTION 4 */
  .section4 {
    padding: 30px 3%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section4_card1, 
  .section4_card2 {
    width: 45%;
  }

  .section4_card3 {
    width: 100%;
    row-gap: 1.8em;
  }

  .section4_cards_box {
    min-height: 300px;
  }

  footer {
    padding: 30px 3%;
  }

  .social_networks {
    width: 20%;
  }


















}